Source: infopoint-html
Section: web
Priority: optional
Maintainer: Roland Hieber <rohieb@rohieb.name>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.2
Homepage: https://rohieb.name/projects/infopoint-html
Vcs-Git: git://github.com/rohieb/infopoint-html.git
Vcs-Browser: https://github.com/rohieb/infopoint-html

Package: infopoint-html
Architecture: all
Depends: ${misc:Depends}, xserver-xorg, xinit, x11-xserver-utils,
 xulrunner | xulrunner-1.9 | xulrunner-1.9.1 | xulrunner-1.9.2 |
 xulrunner-10.0 | xulrunner-11.0 | xulrunner-12.0 | xulrunner-13.0 |
 xulrunner-14.0 | xulrunner-15.0 | xulrunner-16.0 | xulrunner-17.0 |
 xulrunner-18.0 | xulrunner-19.0 | xulrunner-20.0 | xulrunner-21.0,
 lsb-base (>= 3.0-6)
Suggests: openssh-server, x11vnc, ntp
Provides: vertretungsplan-anzeige
Replaces: vertretungsplan-anzeige
Conflicts: vertretungsplan-anzeige
Description: View a full screen web page on system startup
 If this package has been installed, every time at system boot a web page
 is displayed in full screen mode. The displayed web page can be 
 configured.
 
