Source: infopoint-html
Section: web
Priority: optional
Maintainer: Roland Hieber <rohieb@rohieb.name>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.2

Package: infopoint-html
Architecture: all
Depends: ${misc:Depends}, xserver-xorg, xinit, x11-xserver-utils, xulrunner-1.9.1
Provides: vertretungsplan-anzeige
Replaces: vertretungsplan-anzeige
Conflicts: vertretungsplan-anzeige
Recommends: openssh-server, ntp, x-window-manager
Description: View a full screen web page on system startup
 If this package has been installed, every time at ystem boot a web page
 is displayed in full screen mode. The displayed web page can be 
 configured.
 
